{% extends 'base.html' %}

{% block title %}{{ course.name }} - Quizzes{% endblock %}

{% block content %}
    <style>
        /* Custom CSS styles for quizzes page */
        body {
            background-color: #f0f0f0;
        }

        .quiz-card {
            margin: 10px;
            padding: 15px;
            background: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            transition: 0.3s;
        }

        .quiz-card:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .quiz-title {
            font-size: 24px;
            color: #007BFF;
        }

        .page-content {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
        }
    </style>

    <div class="container mt-5 page-content">
        <h1 class="text-center">{{ course.name }} - Quizzes</h1>
        <div class="row">
            <div class="col-md-12">
                <!-- Display quizzes as cards -->
                {% for quiz in quizzes %}
                <div class="col-md-4">
                    <div class="quiz-card">
                        <h5 class="quiz-title">{{ quiz.title }}</h5>
                        <a href="{% url 'app:quiz_detail' quiz.id %}" class="btn btn-primary">Vào kiểm tra</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
