{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-4">
                    <h2 style="color: black; font-weight: bold; text-align: center;">Hướng dẫn sử dụng website</h2>
                    <ol style="color: black;">
                        <li><strong>Đối tượng sử dụng</strong>
                            <p>Dành cho các học sinh, sinh viên.</p>
                        </li>
                        <li><strong>Thông tin tài khoản</strong>
                            <ul>
                                <li>Tài khoản sử dụng của sinh viên là mã số sinh viên (viết thường), mật khẩu là Abcd@1234.</li>
                                <li>Sinh viên phải đổi mật khẩu và thay đổi địa chỉ email cá nhân. Email cá nhân được dùng để phục hồi mật khẩu và nhận thông báo từ giảng viên (xem hướng dẫn tại đây).</li>
                            </ul>
                        </li>
                        <li><strong>Hướng dẫn sử dụng</strong>
                            <ul>
                                <li>Truy cập menu Hướng dẫn để xem các hướng dẫn sử dụng.</li>
                                <li>File PDF hướng dẫn sử dụng cho sinh viên (tải tại đây).</li>
                                <li>File PDF hướng dẫn sử dụng cho giáo viên (tải tại đây).</li>
                            </ul>
                        </li>
                        <li><strong>Liên hệ</strong>
                            <p>Các thắc mắc về công tác đào tạo, thông tin tài khoản, nghiệp vụ:</p>
                            <ul>
                                <li style="color: black;">Phạm Xuân Hòa: 0762169854</li>
                            </ul>
                            <p>Hướng dẫn sử dụng, lỗi phần mềm:</p>
                            <ul>
                                <li style="color: black;">Phạm Xuân Hòa: 0762169854</li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
